html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #807f91;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container {
    gap: 1.6em;

    background: #fff;
    border-radius: 22px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.38);
    padding: 1.2em, 1.2em;
    margin-top: 2em;
    max-width: 420px;
    width: 93vw;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 0.6em;
    color: #1a202c;
}
.pressure-value {
    font-size: 3em;
    font-weight: bold;
    text-align: right;
    color: #2563eb;
    margin-bottom: 0.3em;
    display: block;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em,0em;
    width: 50%;
}
.psi-label {
    font-size: .8em;
    color: #64748b;
    margin-bottom: .8em;
    display: block;
}
.setpoints {
    margin: 1.5em 0 1.2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.setpoints label {
    font-size: .7em;
    color: #374151;
    margin-bottom: 0.2em;
}
.setpoints input[type='number'] {
    font-size: 1em;
    width: 60px;
    padding: 0.3em 0.6em;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    text-align: center;
    margin-bottom: 0.5em;
}
button {
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 1em;
    padding: 1em 1.5em;
    margin-top: .7em;
    margin-bottom: .7em;
    cursor: pointer;
    transition: background 0.2s;
    box-shadow: 0 2px 8px rgba(37,99,235,0.12);
    min-width: 70vw;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background: #bababa;
}
button.air-up {
    background: green;
}
button.air-down {
    background: red;
}